@charset "UTF-8";
$bg-color-skin: #f9e8e1;
$bg-color-grey: #f1f0ee;
$bg-color-white: #ffffff;
$link-color: #6fd1c9;
$main-color: #000;
$sec-main-color: #333;
$footer-color: #a19a92;
$big-size: 3rem;
$first-size: 1.25rem;
$second-size: 1.125rem;
$third-size: 0.938rem;
$smallest-size: 0.88rem;
$basics-size: 1rem;
$chinese: "Noto Sans TC", sans-serif;
$english: "Saira Semi Condensed", sans-serif;

%tit-h2 {
  letter-spacing: 8px;
  background: url(../img/tit-line.gif) repeat-x;
  background-size: 20px;
  display: inline-block;
  padding: 0 8px 0 15px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
div,
iframe {
  border: 0;
  vertical-align: bottom;
}

body,
html {
  width: 100%;
  height: 100%;
}

h1 {
  display: none;
}

a {
  text-decoration: none;
}

body,
html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: $basics-size;
  line-height: 2;
  font-family: $chinese;
  font-weight: 500;
}

h2,
h3 {
  font-size: $second-size;
  font-weight: 700;
  color: $main-color;
  font-family: $chinese;
  letter-spacing: .9em;
  margin-bottom: 3px;
}

#section1 {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(249, 232, 225);
}

.photo1-wrap {
  flex: 1 2 50px;
  height: 75vh;
  background: #fff;
  padding-top: 40px;
}

.photo1 {
  width: 100%;
  height: 100%;
  background: url(../img/photo1.jpg) left center no-repeat;
  background-size: cover;
}

.photo2-wrap {
  flex: 2 1 100px;
  height: 80vh;
  background: #fff;
  padding-top: 60px;
}

.photo2 {
  width: 100%;
  height: 100%;
  background: url(../img/photo2.jpg) left center no-repeat;
  background-size: cover;
}

.nav {
  flex: 1 2 200px;

  ul {
    position: relative;
    top: 15%;
    height: 100%;

    li {
      position: absolute;

      img {
        width: 100%;
      }
    }
  }
}

.logo {
  width: 194.5px;
  left: -50px;
}

.kv-tit {
  top: 220px;
  left: 50px;

  p {
    font-size: $second-size;
    font-weight: 700;
    color: $footer-color;
    letter-spacing: 2px;
    font-family: $english;
  }
}

.kv-btn,
.kv-btn2 {
  font-size: $second-size;
  font-weight: 700;
  color: $main-color;
  font-family: $chinese;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 40px;
  top: 310px;
  left: 50px;
  z-index: 9;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 40px;
    transition: top 0.3s;

    a {
      color: $main-color;
    }
  }

  &:hover .go-top {
    top: -40px;
  }

  &:hover .go-bottom {
    top: 0px;
  }
}

.go-top {
  top: 0px;
  font-family: $english;
}

.go-bottom {
  top: 40px;
}

.kv-btn2 {
  top: 370px;
}

.decor1 {
  width: 150px;
  top: 55%;
  left: -10%;
}

.rotate {
  animation: rotate 8s infinite linear;
  transform-origin: center center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.decor5 {
  position: absolute;
  width: 100%;
  right: 0;
  top: -30%;
  opacity: .5;
}

#about {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.decor3 {
  position: absolute;
  width: 700px;
  right: -20%;
  top: -50%;
  opacity: .3;
}

.photo3 {
  margin-right: 60px;
  position: relative;
  top: -40px;
}

.photo3-pic1 {
  width: 483px;
}

.photo3-pic2 {
  width: 158px;
  position: absolute;
  left: 60%;
  top: 400px;
}

.photo-w {
  width: 100%;
  margin-top: 40px;

  h2 {
    @extend %tit-h2;
    font-family: "Noto Sans TC", "Saira Semi Condensed", sans-serif;
    letter-spacing: 2px;
    padding: 0 10px;
  }
}

.envelop,
.linkedin {
  font-weight: 500;
  padding: 0 10px;
  margin-top: 20px;

  span {
    padding: 0 15px;
    color: $footer-color;
    font-size: $basics-size;
    font-weight: 700;
    font-family: $english;

    a {
      color: $footer-color;
    }

    :hover {
      text-decoration: underline;
    }
  }
}

.envelop {
  margin-top: 5px;
}

.intro {
  flex: 1 2;
  margin-top: 10px;

  h2 {
    @extend %tit-h2;
  }

  p {
    color: $sec-main-color;
    padding: 0 10px;
  }
}

.icon-exp {
  padding: 0 10px;
  display: flex;
  margin: 5px 0 20px;
  align-items: center;

  img {
    width: 36px;
    height: 36px;
  }

  p {
    color: $sec-main-color;
    margin-left: 10px;

    span {
      font-weight: 700;
      font-family: $english;
      margin-right: 18px;
    }
  }
}

.height-br {
  margin-bottom: 50px;
}

#works {
  width: 80%;
  display: inline-block;
  overflow: hidden;
  padding-top: 120px;
  margin-left: 20%;

  h2 {
    @extend %tit-h2;
    margin: 0 20px 60px;
  }
}

/* slide */
.swiper-container {
  position: relative;
  height: 500px;
}

.swiper-wrapper {
  justify-content: space-between;
  height: auto;
}

.swiper-slide {
  display: inline-block;
}

.swiper-pic {
  position: relative;
  border-radius: 5px;
  width: 90%;
  margin: 0 5%;
  transition: .5s;
  box-shadow: 1px 1px 13px 1px #D4D4D4;

  img {
    transition: .5s;
    border-radius: 5px;
    width: 100%;
  }
}

.year {
  padding: 5px 8px;
  background-color: rgba($color: #222, $alpha: 0.8);
  font-size: $smallest-size;
  font-weight: 700;
  color: $bg-color-white;
  font-family: $english;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9;
  border-radius: 3px;
}

.icon-search {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9;
  color: $bg-color-white;
  background-color: rgba($color: #222, $alpha: 0.8);
  font-size: $smallest-size;
  font-weight: 700;
  padding: 8px;
  transition: .5s;
  border-radius: 50%;
}

.carousel-caption {
  margin: 10px 5% 0;
  width: 90%;

  h3 {
    letter-spacing: 0;
    transition: .5s;
  }

  p {
    font-family: $english;
    color: $footer-color;
    font-weight: 500;
  }
}

.swiper-scrollbar {
  display: none;
}

.swiper-pagination {
  bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 25px;
  background-color: $link-color;
  border-radius: 50%;
  top: var(--swiper-navigation-top-offset, 30%);
  --swiper-navigation-size: 20px;
  color: $bg-color-white;
  font-weight: 700;
  right: var(--swiper-navigation-sides-offset, 0);
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  text-align: left;
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background: $link-color;
}

a.link {
  display: block;
  height: 100%;

  &:hover {
    .icon-search {
      background-color: rgba($color: $link-color, $alpha: 1);
      border-radius: 50%;
      transition: .5s;
    }

    .carousel-caption h3 {
      color: $link-color;
      transition: .5s;
    }

    .swiper-pic {
      border-radius: 10px;
      background-color: $main-color;

      img {
        border-radius: 10px;
        opacity: .5;
        transition: .5s;
      }
    }
  }
}

#section4 {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 100px 0 80px;
  position: relative;

  h3 {
    font-size: $big-size;
    letter-spacing: 0;
    font-family: $english;
    margin-bottom: 0;
    line-height: 1.25;
  }

  p {
    font-size: $second-size;
    color: $footer-color;
    font-weight: 700;
    padding: 0 10px;
  }
}

.decor4 {
  position: absolute;
  width: 500px;
  left: -5%;
  top: -60%;
  opacity: .3;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  z-index: 9;

  li {
    margin: 10px;
    transition: .5s;

    &:hover {
      background-color: $link-color;
      transition: .5s;
    }
  }
}

.foot-envelop,
.foot-linkedin {
  font-weight: 500;
  width: 50px;
  height: 50px;
  color: $main-color;
  color: $sec-main-color;
  background-color: $bg-color-skin;
  border-radius: 50%;
  line-height: 50px;
  font-size: $first-size;
  margin: 0 10px;
  transition: .5s;

  &:hover {
    color: $bg-color-white;
    background: $link-color;
    transition: .5s;
  }
}

footer {
  width: 100%;
  background-color: $footer-color;
  color: $bg-color-grey;
  font-size: $third-size;
  text-align: center;
  padding: 10px 20px;
  font-weight: 500;
  font-family: $english;
}

/* back to top */
#back-top {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 999;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: $bg-color-white;
  display: block;
  font-family: $english;
  font-weight: 700;
  background-color: rgba($color: $main-color, $alpha: .5);
  transition: .5s;
  border-radius: 5px 0 0 5px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $bg-color-white;
  }

  &:hover {
    background-color: rgba($color: $main-color, $alpha: 1);
    transition: .5s;
    border-radius: 50px;
  }
}

@media (max-width: 1920px) {
  .decor3 {
    top: -40%;
  }
}

@media (max-width: 1680px) {
  .swiper-container {
    height: 450px;
  }

  .nav ul {
    top: 10%;
  }
}

@media (max-width: 1440px) {
  .swiper-container {
    height: 400px;
  }

  #about {
    width: 90%;
  }

  .decor3 {
    width: 600px;
    right: 0;
    top: -35%;
  }
}

@media (max-width: 1199px) {
  .swiper-container {
    height: 480px;
  }

  .decor3 {
    width: 500px;
  }

  .nav ul {
    top: 6%;
  }

  .decor4 {
    width: 400px;
    top: -40%;
  }
}

@media (max-width: 1100px) {
  .swiper-container {
    height: 430px;
  }

  .decor3 {
    right: -10%;
  }

  .photo3 {
    margin-right: 30px;
  }

  .photo3-pic1 {
    width: 300px;
  }

  .photo3-pic2 {
    width: 130px;
    left: 45%;
    top: 240px;
  }

  .photo-w {
    margin-top: 60px;
  }
}

@media (max-width: 900px) {
  .swiper-container {
    height: 400px;
  }

  .photo3 {
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .swiper-container {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .photo1-wrap {
    display: none;
  }

  .photo2-wrap {
    flex: 1 0 auto;
    padding-top: 40px;
  }

  .photo2 {
    background: url(../img/photo2.jpg) center center no-repeat;
    background-size: cover;
  }

  .nav {
    flex: 1 0 auto;
  }

  .logo {
    width: 150px;
    left: 20px;
  }

  .icon-exp p span {
    display: block;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 18%);
  }
}

@media (max-width: 700px) {
  #about {
    flex-wrap: wrap;
  }

  .photo3 {
    width: 100%;
    margin-right: 0;
    top: -40px;
    display: flex;
    flex-wrap: wrap;
  }

  .photo-w {
    margin: 60px 0 0 0;
    text-align: center;
  }

  .photo3-pic1 {
    width: 80%;
    margin: 0 20px 0 10%;
  }

  .photo3-pic2 {
    width: 30%;
    left: 52%;
    top: 66%;
  }

  .intro {
    flex: 1 1;
    width: 100%;
    margin-top: 20px;
    text-align: center;

    p {
      text-align: left;
      padding: 0 40px;
    }
  }

  .icon-exp p {
    padding: 0 10px;
  }

  .icon-wrap {
    width: 300px;
    margin: auto;
  }

  #works {
    width: 90%;
    padding-top: 60px;
    margin: 0 5%;
    text-align: center;

    h2 {
      margin: 0 0 40px;
    }
  }

  .height-br {
    margin-bottom: 60px;
  }

  .decor3 {
    width: 400px;
    right: 0;
    top: -20%;
  }

  #section4 {
    padding: 80px 0;
  }
}

@media (max-width: 599px) {
  .kv-btn2 {
    top: 340px;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullet {
    display: none !important;
  }

  .swiper-container {
    height: auto !important;
  }

  .swiper-slide {
    margin-bottom: 60px;
  }

  #section1 {
    height: 600px;
  }

  .photo2-wrap,
  .decor1,
  .decor3 {
    display: none;
  }

  .logo {
    width: 150px;
    left: 50%;
    margin-left: -75px;
  }

  .kv-tit {
    width: 207px;
    top: 180px;
    left: 50%;
    margin-left: -90px;
  }

  .kv-btn,
  .kv-btn2 {
    left: 50%;
    margin-left: -50px;
  }

  .kv-btn {
    top: 270px;
  }

  .kv-btn2 {
    top: 330px;
  }

  .nav ul {
    top: 10%;
  }

  .kv-btn span,
  .kv-btn2 span {
    text-align: center;
  }

  .decor4 {
    width: 80%;
    top: -40%;
  }

  #section4 {
    padding: 20px 0 80px;
  }

  .photo3-pic2 {
    top: 62%;
  }
}

@media (max-width: 500px) {
  .photo3-pic2 {
    top: 58%;
  }

  .kv-btn,
  .kv-btn2 {
    &:hover .go-top {
      display: none;
    }
  }

  .go-top {
    display: none;
  }

  .go-bottom {
    top: 0;
  }
}

@media (max-width: 400px) {
  #section4 {
    h3 {
      font-size: 2rem;
    }

    p {
      font-size: $basics-size;
    }
  }

  .photo3-pic2 {
    top: 54%;
  }

  .intro p {
    padding: 0 20px;
  }

  .icon-exp p {
    padding: 0 10px 0 5px;
  }

  .icon-wrap {
    width: 320px;
  }
}

@media (max-width: 350px) {
  .photo3-pic2 {
    top: 50%;
  }
}

/* animation */
.fadeIn {
  animation: fadeIn 1s ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}